.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about {
  width: 100%;
  max-width: 100vw;
  min-height: 350px;
  margin: 40px 0;
}


.about .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 350px;
}

.about .content .summary {
  display: flex;
  flex-direction: row;
  background: white;
  height: 330px;
  border: solid 1px #e0e0e0;
}

.about .content .summary .text {
  align-items: flex-start;
  padding: 28px 36px;
  color: var(--font-light);
}
.about .content .summary .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 330px;
}

.about .content .summary .media {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 329px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.about .content .summary .text p {
  color: var(--font-light);
  margin-bottom: 18px;
  font-size: 18px;
}

.about .content h3 {
  margin: 10px 0 30px;
  font-size: 24px;
  font-weight: 600;
}

.contact {
  width: 100%;
  max-width: 100vw;
  min-height: 350px;
  margin: 40px 0;
}

.contact .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 350px;
}

.contact .content h3 {
  margin: 10px 0 30px;
  font-size: 24px;
  font-weight: 600;
}

.contact .content .summary {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  color: var(--pure-white);
  height: 330px;
  border: solid 1px #e0e0e0;
  overflow: visible;
}

.contact .content .summary .info {
  padding: 28px 36px;
  color: var(--pure-white);
  list-style-type: none;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.contact .content .summary .info li {
  color: var(--pure-white);
  margin-bottom: 18px;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 100%;
}

.contact .content .summary .info li span {
  width: 100px;
  margin-right: 20px;
  color: var(--pure-white);
}

.contact .content .summary .info li .socials {
  color: var(--pure-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

#blackCodePathPng {
  width: 200px;
}
.contact .content .summary .media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 330px;
}

.contact .content .summary .media img {
  transform: translateY(-2px);
}

.footer {
  width: 100%;
  max-width: 100vw;
  height: 350px;
  background: var(--pure-white);
}
        
.footer .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 350px;
  background: var(--pure-white);
}

.footer .content .top {
  flex: 1;
  padding-top: 40px;
}

.footer .content .top .links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.footer .content .top .links .link-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer .content .top .links .link-column h4 {
  margin-bottom: 10px;
}

.footer .content .top .links .link-column ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: var(--font-dark);
}


.footer .content .top .links .link-column ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--font-light);
  margin-top: 10px;
}

.footer .content .top .links .link-column ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--font-light);
  margin-top: 10px;
}


a, span, div, p, h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: var(--font-dark);
}

.footer .content .bottom {
  border-top: solid 1px var(--border-color);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.footer .content .bottom .payment-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}